div
    h1 Edit album
    form(method='POST' action='/albums/edit')
        div.form-group
            label(for='artistTextID') Artist: &nbsp;
            input#artistTextID.form-control(type='text' placeholder='Artist' name='artist')
        div.form-group
            label(for='albumTextID') Album:
            input#albumTextID.form-control(type='text' placeholder='Album' name='album')
        div.form-group
            label(for='genreTextID') Genre: &nbsp;
            input#genreTextID.form-control(type='text' placeholder='Genre' name='genre')
        div.form-group
            input#btnAlbum.form-control(type='submit' value='Update Album')
            input#btnAlbum.form-control(type='submit' value='Delete Album')
